---
import type { MarkdownInstance } from 'astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import path from 'path';
import DisqusArea from '../../components/DisqusArea.astro';
export async function getStaticPaths() {
  const data = await Astro.glob("../../data/blog/*.md");

  return data.map((post) => {
    return {
      params: { post: path.basename(post.file).replace('.md', '') },
      props: post
    };
  });
}

const content = (Astro.props as MarkdownInstance<Record<string, any>>);
---

<BaseLayout>
  <div class="content" set:html={content.compiledContent()}></div>
  <DisqusArea baseName={Astro.params.post + '.html'} originalTitle={content.frontmatter.orignalTitle || content.frontmatter.title} />
</BaseLayout>