---
import type { MarkdownInstance } from 'astro';
import path from 'path';
export async function getStaticPaths() {
  const data = await Astro.glob("../../data/blog/*.md");

  return data.map((post) => {
    return {
      params: { post: path.basename(post.file).replace('.md', '.html') },
      props: post
    };
  });
}

const content = (Astro.props as MarkdownInstance<Record<string, any>>).compiledContent();
---
<meta charset="utf-8" />
<div set:html={content}></div>