---
import { Breadcrumb } from "@data/components/layout/Breadcrumb";
import { Section } from "@data/components/primitive/Section";
import { BlogArchive } from "@data/components/sections/BlogArchive";
import { ParentCardLink } from "@data/components/sections/ParentCardLink";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  titleShort="のなさばどっとねっとブログ"
  titleSuffix=""
  pageType="blog"
  description="のなさばどっとねっとブログ 記事一覧"
>
  <Section>
    <Breadcrumb
      variant="underline"
      items={[{ title: "のなさばどっとねっと", url: "/" }, { title: "ブログ" }]}
    />
  </Section>
  <BlogArchive />
  <Section>
    <ParentCardLink title="トップへ" href="/" />
  </Section>
</BaseLayout>
