---
import BlogList from "@components/BlogList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const data = (await getCollection("blog")).sort((a, b) => {
  return Number(b.id.replace("entry", "")) - Number(a.id.replace("entry", ""));
});
---

<BaseLayout
  titleShort="こーげんやさいブログ"
  titleSuffix=""
  pageType="blog"
  description="こーげんやさいブログ 記事一覧"
>
  <main id="content" class="container">
    <div class="content">
      <h2>ブログ記事一覧</h2>
      <p>上の方ほど新しいです</p>
      <BlogList props={data} />
    </div>
  </main>
  <nav>
    <div class="container">
      <p>
        <a href="/">[こーげんやさいトップへ]</a>
      </p>
    </div>
  </nav>
</BaseLayout>
