---
import BaseLayout from "../../layouts/BaseLayout.astro";
import path from 'path';
const data = await Astro.glob("../../data/blog/*.md");
---

<BaseLayout>
    <div class="content">
        <ul>
        {data.map((post) => {
            return (<li><a href={path.basename(post.file).replace(".md",".html")}>{post.frontmatter.title}</a></li>);
        })}
        </ul>
    </div>
  </BaseLayout>