---
//@ts-ignore
import path from "path";
import WorkDetail from "@components/WorkDetail.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const data = await getCollection("applist");

  return data.map((work) => {
    return {
      params: { work: work.slug },
      props: work,
    };
  });
}

const content = Astro.props;
const { Content } = await content.render();
---

<BaseLayout
  titleShort={content.data.title}
  titleSuffix=" | こーげんやさい"
  description={content.data.short}
  pageType="article"
>
  <main id="content" class="container">
    <WorkDetail props={content}><Content /></WorkDetail>
  </main>
  <nav>
    <div class="container">
      <p>
        <a href="/works/">[つくったものトップへ]</a>
        <a href="/">[こーげんやさいトップへ]</a>
      </p>
    </div>
  </nav>
</BaseLayout>
