---
//@ts-ignore
import path from "path";
import WorkDetail from "@components/WorkDetail.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const data = await getCollection("applist");

  return data.map((work) => {
    return {
      params: { work: work.id },
      props: work,
    };
  });
}

const content = Astro.props;
const { Content } = await render(content);
---

<BaseLayout
  titleShort={content.data.title}
  titleSuffix=" | こーげんやさい"
  description={content.data.short}
  pageType="article"
>
  <nav>
    <div class="container">
      <p>
        <a href="/">こーげんやさい</a> >
        <a href="/works/">つくったもの</a> > {content.data.title}
      </p>
    </div>
  </nav>
  <main id="content" class="container blog">
    <WorkDetail props={content}><Content /></WorkDetail>
  </main>
</BaseLayout>
