---
import { Breadcrumb } from "@data/components/layout/Breadcrumb";
import { Section } from "@data/components/primitive/Section";
import { ParentCardLink } from "@data/components/sections/ParentCardLink";
import { WorksArchive } from "@data/components/sections/WorksArchive";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  titleShort="のなさばどっとねっと"
  titleSuffix=""
  pageType="article"
  description="のなさばどっとねっと 成果物一覧"
>
  <Section>
    <Breadcrumb
      variant="underline"
      items={[
        { title: "のなさばどっとねっと", url: "/" },
        { title: "つくったもの" },
      ]}
    />
  </Section>
  <WorksArchive />
  <Section>
    <ParentCardLink title="トップへ" href="/" />
  </Section>
</BaseLayout>
