---
import WorkList from "@components/WorkList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
//@ts-ignore
import path from "path";
const data = (await getCollection("applist")).sort((a, b) => {
  return a.data.order - b.data.order;
});
---

<BaseLayout
  titleShort="こーげんやさい"
  titleSuffix=""
  pageType="article"
  description="こーげんやさい 成果物一覧"
>
  <main id="content" class="container">
    <div class="content">
      <h2>つくったもの</h2>
      <WorkList items={data} detailLink={true} />
    </div>
  </main>
  <nav>
    <div class="container">
      <p>
        <a href="/">[こーげんやさいトップへ]</a>
      </p>
    </div>
  </nav>
</BaseLayout>
