div.callout {
  background-color: var(--sub-background-color);
  padding: 5px 10px;
  border-radius: 0.5ic;
  margin-bottom: 12px;
  border: 1px solid #808080;
  border-left-width: 0.4ic;
}

div.callout.warning {
  border-color: var(--secondary-color);
}

div.callout.note {
  border-color: var(--primary-color);
}
