.card-collection {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  display: block;

  margin: 8px;
  max-width: 100%;
  width: 100%;

  @media print {
    break-inside: avoid;
  }
}

.card-content {
  display: flex;
  flex: 5;
  text-decoration: none;
  align-items: center;
  border-start-start-radius: calc(0.75ic - 3px);
  border-start-end-radius: calc(0.75ic - 3px);
  &:last-child {
    border-end-start-radius: calc(0.75ic - 3px);
    border-end-end-radius: calc(0.75ic - 3px);
  }

  color: var(--text-color);
  &:visited {
    color: var(--text-color);
  }

  //transition: background 0.1s;

  flex-direction: row;

  img {
    margin: 8px;
    border-radius: 1ic;
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 0.25ic;
    text-align: start;
    * {
      margin: 2px;
      padding: 0;
    }

    h1,
    h2,
    h3 {
      border: none;
    }

    p {
      font-size: 90%;
      line-height: 1.2ic;
    }
  }

  .card-link-list {
    display: flex;
    flex-direction: row;
  }
}

.card-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .no-wrap {
    display: block;
    flex: 1;
    margin-right: 1ic;
    max-width: 800px;
  }
}
