:root {
    --background-color-light: #ffffff;
    --background-color-dark: #181818;

    --text-color-light: #000000;
    --text-color-dark: #e8e8e8;

    --primary-color-light: #72aaff; //fore:black;
    --primary-color-dark: #284d85; //fore:white

    --secondary-color-light: #FF887A; //fore:black
    --secondary-color-dark: #a22f2f; //fore:white

    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);

    --background-color-r: var(--background-color-dark);
    --text-color-r: var(--text-color-dark);
    --primary-color-r: var(--primary-color-dark);
    --secondary-color-r: var(--secondary-color-dark);
}

html {
    font-family: 'Red Hat Text', 'Zen Kaku Gothic New', sans-serif;
    font-display: swap;
    background-color: var(--background-color);
    color: var(--text-color);

    height: 100%;
}

body {
    margin: 0;
    height: 100%;

    line-height: 1.4ic;
}

.container {
    margin: auto;
    padding: 0 3ic;
    max-width: 960px;
}

header {
    background-color: var(--background-color);
    border-bottom: 8px solid var(--primary-color);
    color: var(--text-color);

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0.5ic 2ic;

        align-items: center;

        .brand {
            margin: 8px auto 8px 0;
        }

        ul.navs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            flex-direction: row;
            margin: 0;
            padding: 0;

            li {
                flex: 1;
                margin: 0 4px;
                padding: 4px 10px;
                display: inline;
                text-align: center;
            }
        }

        h1,
        h2 {
            border: none;
        }
    }
}

h1,
h2,
h3 {
    margin: 0.5ic 0;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--primary-color);
}

p {
    margin: 0.5ic 0;
}

.twocolumn {
    display: flex;
    flex-direction: row-reverse;

    @media screen and (max-width: 720px) {
        flex-direction: column;
    }

    nav {
        min-width: 230px;
        flex: 1;
        padding: 0;

        div {
            position: sticky;
            top: 0;
            padding: 1ex 0;
        }
    }

    main {
        flex: 5;
    }
}

footer {
    position: sticky;
    top: 100vh;

    margin-top: 1em;
    padding: 1em 0 1.5em 0;
    border-top: 2px solid var(--primary-color);
}

a {
    color: var(--primary-color-r);
}

a:visited {
    color: var(--secondary-color-r);
}

rp {
    visibility: visible;
    display: inline-block;
    width: 0;
    opacity: 0;
}