html {
  font-family: "Red Hat Text", "Zen Kaku Gothic New", sans-serif;
  font-display: swap;
  background-color: var(--background-color);
  color: var(--text-color);

  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  line-height: 1.4ic;
}

.container {
  margin: auto;
  padding: 0 1.5ic;
  max-width: 960px;
}

pre,
code:not(.language-math),
kbd {
  font-family: "Inconsolata", "Consolas", "Zen Kaku Gothic New", monospace;
  background-color: var(--sub-sub-background-color);
  padding: 2px 5px;
  border-radius: 0.2ic;
}

pre {
  overflow-x: auto;
  padding: 0.7ic 1ic;
  border-radius: 0.7ic;
  code {
    padding: 0;
    margin: 0;
  }
}

h1,
h2,
h3 {
  margin: 0.5ic 0;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--primary-color);
  del {
    text-decoration-thickness: 3px;
  }
}

h4,
h5,
h6 {
  margin: 0.5ic 0 0 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 1.25ic;
}

h1.article-title,
h2.article-title,
h3.article-title {
  margin-top: 0.75ic;
}

h3.work-item-title {
  margin: 0;
}

del {
  text-decoration-thickness: 2px;
}

p {
  margin: 0.5ic 0;
}

.twocolumn {
  display: flex;
  flex-direction: row-reverse;

  @media screen and (max-width: 720px) {
    flex-direction: column;
  }

  nav {
    min-width: 230px;
    flex: 1;
    padding: 0;

    div {
      position: sticky;
      top: 0;
      padding: 1ex 0;
    }
  }

  main {
    flex: 5;
  }
}

a {
  color: var(--primary-color-r);
}

a:visited {
  color: var(--secondary-color-r);
}

rp {
  visibility: visible;
  display: inline-block;
  width: 0;
  opacity: 0;
}

ul {
  display: block;
  margin: 0;
}

ul.clickable {
  li {
    margin: 4px 0;
  }
}

ul.link {
  li::marker {
    content: "> ";
  }
}

*.text-r {
  text-align: right;
}

*.no-margin {
  margin: 0;
}

ul.category {
  display: block;
  padding: 0;
  li {
    display: inline-block;
    font-size: 90%;
    margin: 0 0.5ic;
  }
}

img.profile-icon {
  border-radius: 80px;
  width: 160px;
  height: 160px;
  margin: 16px;
  margin-right: 24px;
}

img.banner {
  margin: 8px 0;
  max-width: 234px;
  max-height: 60px;
}

div.banner {
  margin: 8px 0;
  height: 60px;
}

*.float-l {
  float: inline-start;
}

*.float-r {
  float: inline-end;
}

*.floatbox {
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &:before {
    content: "";
    display: block;
    clear: both;
  }
}

*.float-clear {
  clear: both;
}

em {
  text-decoration: none;
  font-weight: bold;
}

div.petitcom-key {
  display: inline-flex;
  background-color: var(--primary-color-dark);
  color: var(--background-color-light);
  border-radius: 10px;
  align-items: center;
  margin: 2px;
  span {
    padding: 4px;
    margin: 4px;
    align-items: center;
    &.key {
      background-color: var(--background-color);
      color: var(--text-color);
      border-radius: 8px;
      padding: 4px 8px;
    }
  }
}

nav.table-of-links {
  margin: 8px 0;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

div.three-ds {
  display: inline-block;
  background-color: #e8e8e8;
  max-width: 100%;
  overflow: auto;
  border-radius: 8px;
  p {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 12px;
    padding: 0;
    & img:nth-child(1) {
      width: 400px;
      position: relative;
      left: 0px;
      margin: 0;
    }
    & img:nth-child(2) {
      width: 320px;
      position: relative;
      left: 40px;
      margin: 0;
      margin-top: 16px;
    }
  }
}

main.blog img {
  display: block;
  margin: auto;
  width: 50vw;
  max-width: 480px;
}

blockquote {
  background-color: var(--sub-sub-background-color);
  margin: 0;
  padding: 0.5ic 1ic;
  border-radius: 0 0.7ic 0.7ic 0;
  border-left: 0.5ic solid var(--background-color-r);
}
