.linklist {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;

  & > * {
    flex: 1;
    display: inline-block;
    margin: 0.5ic;
    text-align: center;
    border: 2px solid var(--sub-sub-background-color);
    border-bottom-width: 3px;

    &:hover:not(&:focus-visible),
    &:focus:not(&:focus-visible) {
      outline: 2px solid var(--primary-color);
      &:visited {
        outline-color: var(--secondary-color-r);
      }
    }
  }
}

.link-title {
  display: inline-block;
  padding: 8px;
}

a.link-icon {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  height: 48px;
  border: 2px solid var(--sub-sub-background-color);
  border-width: 2px 3px 5px;
  background-color: var(--background-color);
  border-radius: 30px;
  text-decoration: none;
  font-size: 28px;
  color: var(--text-color);
  &:visited {
    color: var(--text-color);
  }
  &:hover {
    color: var(--text-color);
  }

  &:hover:not(&:focus-visible) {
    outline: 2px solid var(--primary-color);
    &:visited {
      outline: var(--secondary-color-r);
    }
  }

  &.always-white {
    background-color: var(--background-color-light);
  }

  picture,
  picture * {
    margin: 0;
    padding: 0;
  }

  /*position: relative;
  @media print {
    &[href]::after {
      color: var(--primary-color-r);
      font-size: 8pt;
      position: absolute;
      bottom: 40px;
      left: 48px;
      transform-origin: bottom left;
      transform: rotate(-15deg);
      min-width: 40vw;
      break-inside: avoid-page;
      content: attr(href);
    }
  }*/
}

.detail-link {
  text-decoration: none;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  &:hover:not(&:focus-visible),
  &:focus:not(&:focus-visible) {
    text-decoration: underline;
  }
}
