<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>指定のファイルが見つかりません | こーげんやさい</title>
  <link rel="stylesheet" href="common.css" />
</head>

<body>
  <header>
    <div class="content flex">
      <h1>
        <a href="/">
          <img src="/image/logotype.svg" alt="こーげんやさい" />
        </a>
      </h1>
      <nav>
        <ul>
          <li><a href="/blog/index.html">ブログ</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="content">
      <section>
        <h2>指定のファイルが見つかりません(HTTP 404)</h2>
        <p>アクセスしたURLは存在しないか、削除されたようです。</p>
        <p>目的のページを探すために<a href="/">トップページ</a>に行くこともできます。</p>
      </section>
    </div>
  </main>
  <footer>
    <div class="content">
      <p>&copy;2022 Nona Takahara</p>
    </div>
  </footer>
</body>

</html>