<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>こーげんやさい | リンク集</title>
    <link rel="stylesheet" href="/common.css" /></head
  >

  <body>
    <header>
      <div class="content flex">
        <h1>
          <a href="/">
            <img src="/image/logotype.svg" alt="こーげんやさい" />
          </a>
        </h1>

        <nav>
          <ul>
            <li><a href="/blog/">ブログ</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="content">
        <section>
          <h2>相互リンク</h2>
          <div class="floatbox">
            <h3>
              <a href="https://exout.net/~kirby3ds/">カービィ★KIRBYの家</a>
            </h3>

            <div class="banner float-l"></div>
            <p>
              「オリジナルキャラクターやイラスト、プログラムまで多彩なコンテンツをお届けします！」
            </p>
          </div>
          <div class="floatbox">
            <h3>
              <a href="https://koronyan888.github.io/"
                >ころにゃんのホームページ</a>
            </h3>

            <div class="banner float-l"></div>
            <p>（現在リンク切れとなっています）</p>
          </div>
          <div class="floatbox">
            <h3><a href="https://yude.jp/">yude.jp</a></h3>
            <a href="https://yude.jp/"
              ><img
                src="https://www.yude.jp/assets/images/banner_new.png"
                class="banner float-l"
              /></a
            >
            <p></p>
          </div>
          <div class="floatbox">
            <h3><a href="https://arkw.net/">Arakawa Laboratory</a></h3>
            <a href="https://arkw.net/"
              ><img src="./image/arkw_net_logo.png" class="banner float-l" /></a
            >
            <p></p>
          </div>
          <div class="floatbox">
            <h3><a href="https://myanosasa.github.io/">ささみのぺーじ</a></h3>

            <div class="banner float-l"></div>
            <p></p>
          </div>
        </section>
        <!--
      <section>
        <h2>その他のリンク</h2>

      </section>
      -->
        <section>
          <h2>リンクについて</h2>
          <p>この「こーげんやさい」はリンクフリーです。</p>
          <p>
            また、バナーが <a
              href="https://nona-takahara.github.io/image/banner_234x60.png"
              >https://nona-takahara.github.io/image/banner_234x60.png</a
            > にありますので、必要な方はご利用ください。気まぐれに更新するため、直リンやそれに準ずる方法を推奨しています。
          </p>
          <img src="/image/banner_234x60.png" alt="こーげんやさい バナー" />
          <p><a href="/">[トップに戻る]</a></p>
        </section>
      </div>
    </main>
    <footer>
      <div class="content">
        <p>&copy;2022-2023 Nona Takahara</p>
      </div>
    </footer>
  </body>
</html>
