---
//import links from "src/data/links/links.js";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Section } from "@data/components/primitive/Section";
import { ParentCardLink } from "@data/components/sections/ParentCardLink";

//const interlink = links.filter((item) => item.inter);
//const otherlink = links.filter((item) => !item.inter);
---

<BaseLayout
  titleShort="リンク集"
  description="のなさばどっとねっととリンクしているサイトです"
  pageType="article"
>
  <Section>
    <h2>リンク集</h2>
  </Section>

  <Section>
    <h2>このサイトへのリンクについて</h2>
    <p>この「のなさばどっとねっと」はリンクフリーです。</p>
    <p>
      また、バナーが <a
        href="https://nona-takahara.github.io/image/banner_234x60.png"
        >https://nona-takahara.github.io/image/banner_234x60.png</a
      > にありますので、必要な方はご利用ください。気まぐれに更新するため、直リンやそれに準ずる方法を推奨しています。
    </p>
    <img src="/image/banner_234x60.png" alt="のなさばどっとねっと バナー" />
    <Section>
      <ParentCardLink title="トップへ" href="/" />
    </Section>
  </Section>
</BaseLayout>
