---
import links from "src/data/links/links.js";
import LinkItem from "@components/LinkItem.astro";
import Layout from "@layouts/Layout.astro";

const interlink = links.filter((item) => item.inter);
const otherlink = links.filter((item) => !item.inter);
---

<Layout
  titleShort="リンク集"
  description="こーげんやさいとリンクしているサイトです"
  pageType="article"
>
  <main id="content" class="container">
    <div class="content">
      {
        interlink.length > 0 && (
          <section style="display: block;">
            <h2>相互リンク</h2>
            {interlink.map((item) => {
              return <LinkItem props={item} />;
            })}
          </section>
        )
      }
      {
        otherlink.length > 0 && (
          <section style="display: block;">
            <h2>その他のリンク</h2>
            {otherlink.map((item) => {
              return <LinkItem props={item} />;
            })}
          </section>
        )
      }
      <section style="display: block;">
        <h2>リンクについて</h2>
        <p>この「こーげんやさい」はリンクフリーです。</p>
        <p>
          また、バナーが <a
            href="https://nona-takahara.github.io/image/banner_234x60.png"
            >https://nona-takahara.github.io/image/banner_234x60.png</a
          > にありますので、必要な方はご利用ください。気まぐれに更新するため、直リンやそれに準ずる方法を推奨しています。
        </p>
        <img src="/image/banner_234x60.png" alt="こーげんやさい バナー" />
        <p><a href="/">[トップに戻る]</a></p>
      </section>
    </div>
  </main>
</Layout>
