---
import type { CollectionEntry } from "astro:content";
import BlogItem from "./BlogItem.astro";
//@ts-ignore
import path from "path";

interface Props {
  props: CollectionEntry<"blog">[];
  haveContinue?: boolean;
}

const { props, haveContinue } = Astro.props;
---

<div class="blog-list">
  {
    props.map((item) => (
      <BlogItem
        url={"/blog/" + item.id + ".html"}
        title={item.data.title}
        short={item.data.short}
      />
    ))
  }
  {haveContinue && <BlogItem url="/blog/" title="その他の記事 >" />}
</div>
