---
import LinkItem, { type LinkItemType } from "./LinkItem.astro";

interface Props {
  props: LinkItemType[];
  heading: string;
}

const { heading, props } = Astro.props;
---

{
  props.length > 0 && (
    <>
      <h3>{heading}</h3>
      <div class="linklist">
        {props.map((item) => {
          return <LinkItem props={item} />;
        })}
      </div>
    </>
  )
}
