---
import "@styles/common.scss";
---

<a href="#content" style="visibility: hidden; position: fixed;">本文へ移動</a>
<header>
  <div class="container">
    <h1 class="brand">
      <a href="/">こーげんやさい</a>
    </h1>
    <div class="spacer"></div>
    <ul class="navs">
      <li><a href="/works/">つくったもの</a></li>
      <li><a href="/blog/">ブログ</a></li>
    </ul>
  </div>
</header>
