---
import "@styles/link.scss";
interface Props {
  props: LinkItemType;
}

export interface LinkItemType {
  url?: string;
  title?: string;
  banner?: string;
  short?: string;
}

const { props } = Astro.props;
---

<a href={props.url}>
  {
    (props.banner && (
      <img src={props.banner} class="banner float-l" alt={props.title} />
    )) || <span class="link-title">{props.title}</span>
  }
</a>
