@import "remixicon/fonts/remixicon.css";
@import "@wooorm/starry-night/style/high-contrast";

/* Panda CSSが出力するスタイルの注入ポイント
   [WARN]: この後にCSS Layer外のルールを書くと
           Panda CSSによって出力されるスタイルを無条件で上書きする */
@layer reset, base, tokens, recipes, utilities;

/* TODO: Panda CSSエコシステム内に含める方法を検討 */
div.three-ds {
  display: block;
  overflow: auto;
}
div.three-ds div {
  display: inline-block;
  margin: auto;
  border-radius: 8px;
}
div.three-ds div p {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 12px;
  padding: 0;
}
div.three-ds div img:nth-child(1) {
  width: 400px;
  position: relative;
  left: 0px;
  margin: 0;
}
div.three-ds div img:nth-child(2) {
  width: 320px;
  position: relative;
  left: 40px;
  margin: 0;
  margin-top: 16px;
}
