@import "remixicon/fonts/remixicon.css";
@import "../node_modules/@wooorm/starry-night/style/high-contrast.css";

@layer reset, base, tokens, recipes, utilities;

:root {
  --font-sans:
    "Red Hat Text", "Zen Kaku Gothic New", system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --font-mono: "Inconsolata", Consolas, "Zen Kaku Gothic New", monospace;
}

/* fallback */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
}

div.three-ds {
  display: block;
  overflow: auto;
}
div.three-ds div {
  display: inline-block;
  margin: auto;
  border-radius: 8px;
}
div.three-ds div p {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 12px;
  padding: 0;
}
div.three-ds div img:nth-child(1) {
  width: 400px;
  position: relative;
  left: 0px;
  margin: 0;
}
div.three-ds div img:nth-child(2) {
  width: 320px;
  position: relative;
  left: 40px;
  margin: 0;
  margin-top: 16px;
}
