<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>こーげんやさい</title>
    <link rel="stylesheet" href="src/styles/common.scss" />
    <script src="./index.js" defer></script>
  </head>

  <body>
    <header>
      <div class="content flex">
        <h1>
          <a href="/">
            <img
              src="image/logotype.svg"
              alt="こーげんやさい"
              width="224"
              height="38"
              decoding="async"
            />
          </a>
        </h1>

        <nav aria-label="navigation">
          <ul>
            <li><a href="/blog/">ブログ</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
        <slot />
    </main>
    <footer>
      <div class="content">
        <p>&copy;2022-2023 Nona Takahara</p>
      </div>
    </footer>
  </body>
</html>
