---
import { Header } from "@data/components/layout/Header";
import { Footer } from "@data/components/layout/Footer";
import "../index.css";
import type { OgPageType } from "./Og";
import KaTeX from "@layouts/KaTeX.astro";
import { Main } from "@data/components/layout/Main";

interface Props {
  katex?: boolean;
  titleShort?: string;
  titleSuffix?: string;
  description: string;
  pageType: OgPageType;
  highlight?: boolean;
}

const {
  katex = false,
  titleShort = "",
  titleSuffix = "こーげんやさい",
  description = "",
  pageType = "article",
  highlight = false,
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{titleShort + titleSuffix}</title>
    <meta name="theme-color" content="#72aaff" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content={pageType} />
    <meta property="og:title" content={titleShort || titleSuffix} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="こーげんやさい" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nona_takahara" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/icon-512.png" sizes="any" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inconsolata:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    {katex && <KaTeX />}
  </head>
  <body>
    <a href="#content" style="visibility: hidden; position: fixed;"
      >本文へ移動</a
    >
    <Header />
    <Main id="content">
      <slot />
    </Main>
    <Footer />
    {highlight && <script type="module" src="/highlighter.js" defer />}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("img").forEach((img) => {
          if (img.title) {
            const title = document.createElement("span");
            title.innerText = img.title;
            title.classList.add("fig-caption");

            img.after(title);
          }
        });
      });
    </script>
  </body>
</html>
