---
import KaTeX from "@components/KaTeX.astro";
import "@styles/common.scss";

const { katex, title = "こーげんやさい" } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Kaku+Gothic+New:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {katex && <KaTeX />}
  </head>

  <body>
    <a href="#content" style="visibility: hidden; position: fixed;"
      >本文へ移動</a
    >
    <header>
      <div class="container">
        <h1 class="brand">
          <a href="/">
            <img
              src="/image/logotype.svg"
              alt="こーげんやさい"
              width="165"
              height="28"
              decoding="async"
            />
          </a>
        </h1>
        <div class="spacer"></div>
        <ul class="navs">
          <li><a href="/blog/">ブログ</a></li>
        </ul>
      </div>
    </header>
    <slot />
    <footer>
      <div class="container">
        <p>&copy; Nona Takahara</p>
      </div>
    </footer>
  </body>
</html>
