---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title={Astro.props.title} katex={Astro.props.katex}>
  <main id="content" class="container">
    <slot />
  </main>
</BaseLayout>
